.content {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 848px) {
    gap: 5%;

    width: 95%;
    flex-direction: row;
    margin-left: 5%;
  }
}

.text {
  color: var(--color_black, #000);
  font-family: Josefin Slab;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  width: fit-content;
  max-width: 700px;

  margin-top: 1rem;

  @media (min-width: 848px) {
    display: -webkit-box;
    -webkit-line-clamp: 8; /* Número máximo de linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; /* Adiciona a elipse (...) quando o texto é cortado */
    line-height: 1.2em;
  }
}

.box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  display: none;

  color: var(--color-black, #000);
  font-family: Josefin Slab;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @media (min-width: 848px) {
    display: flex;
  }
}

.title1 {
  color: var(--color-black, #000);
  font-family: Josefin Slab;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @media (min-width: 848px) {
    display: none;
  }
}

.image {
  width: 100%;
  @media (min-width: 848px) {
    max-width: 300px;
  }
}
