.Link {
  text-decoration: none;

  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  color: var(--color-withe);

  padding-inline: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}
.line {
  position: absolute;
  padding-inline: 10px;

  height: 2px;
  width: 100%;

  opacity: 0.25;
  bottom: 0;

  transition: 200ms linear;

  transform: rotateY(90deg);
  background-color: var(--color-orange);
}
.Link:hover {
  .line {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
